/Plagiarism-Detection.pro.user
/build-Plagiarism-Detection-64bit-Debug/Makefile
/build-Plagiarism-Detection-64bit-Debug/Plagiarism-Detection
/build-Plagiarism-Detection-64bit-Debug/main.o
/build-Plagiarism-Detection-64bit-Debug/mainwindow.o
/build-Plagiarism-Detection-64bit-Debug/moc_mainwindow.cpp
/build-Plagiarism-Detection-64bit-Debug/moc_mainwindow.o
/build-Plagiarism-Detection-64bit-Debug/ui_mainwindow.h
